<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NoteTakingAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <NoteTakingAddIn.Properties.Settings>
            <setting name="NO_NAME" serializeAs="String">
                <value/>
            </setting>
            <setting name="TOUCHUP_ATTRIBUTE" serializeAs="String">
                <value>TOUCHUP_ATTRIBUTE</value>
            </setting>
            <setting name="DRAG_LINK" serializeAs="String">
                <value>DRAG_LINK</value>
            </setting>
            <setting name="ZindexForeground" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ZindexBackground" serializeAs="String">
                <value>0</value>
            </setting>
        </NoteTakingAddIn.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
